name: Pull request workflow

on:
  pull_request:
    branches: [ "develop", "main" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-26
    permissions:
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 100
      - name: Select Xcode
        run: xcodes select 26.1.1
      - name: Run tests
        run: xcodebuild -scheme Networking-Package -destination 'platform=iOS Simulator,name=iPhone 17' test
